.photo__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo__image {
  cursor: pointer;
}

.grid__width {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}