.register__title {
  margin: 0 0 10px 5px;
}

.register__form {
  max-width: 500px;
  margin: 0 auto;
}

.register__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.register__name-inputs {
  display: flex;
  gap: 10px;
}

.register__submit-button {
  font-family: 'Roboto', sans-serif;
  background: #007BFF;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.register__submit-button:hover {
  background: #0056b3;
}